.popup {
    display: flex;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(32, 35, 38, 0.7);
    align-items: center;
    justify-content: center;
    transition: opacity .5s linear, visibility .5s linear;
    z-index: 1;
}