.nav__link {
    text-decoration: none;
    color: #202326;
    color: #202326;
    font-family: 'Onest', 'sans-serif';
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
    text-align: left;
}

.nav__link:hover {
    opacity: 1;
    color: grey;
}


/*
.nav__link:hover .nav__arrow-icon {
    transform: rotate(180deg);
    padding-left: 5px;
}*/