.same-article__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .same-article__wrapper {
        margin: 20px auto 0;
        flex-direction: column;
        align-items: center;
    }
}