.title {
    margin: 0;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #202326;
    &_big {
        font-size: 52px;
    }
    &_medium {
        font-size: 40px;
    }
    &_small {
        font-size: 28px;
    }
}