.header {
    margin: 0 auto 133x;
    padding-top: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
    .header {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
}