.nav__item {
    /*padding: 1.4rem 0;*/
    /* margin: 0 1.5rem; */
    cursor: pointer;
    padding-right: 25px;
}

.nav__item:hover .nav__submenu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.nav__item:last-child {
    padding-right: 50px;
}