.gallery__title {
    margin: 0;
    font-family: 'Onest', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #202326;
}

@media screen and (max-width: 767px) {
    .gallery__title {
        margin: 0 auto;
        font-family: 'Onest', sans-serif;
        font-size: 34px;
        line-height: 38px;
    }
}