.form__option {
    max-width: 238px;
    max-height: 183px;
    border-radius: 6px;
    box-shadow: 0px 8px 60px 0px #00000012;
    background-color: #FFFFFE;
}

.form__option:hover {
    background-color: #F1F1F3;
}

.form__option:first-child {
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    color: #777777;
}