.form__select {
    width: 238px;
    border-radius: 10px;
    border: 1px solid #EDEDF1;
    color: #777777;
}

.form__select::placeholder {
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.85px;
    letter-spacing: 0px;
    color: #202326;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .form__select {
        height: 50px;
        width: 100%;
    }
}


/*
.form__select {
    position: relative;
    width: 230px;
    height: 40px;
    margin: 0 auto;
    &[data-state="active"] {
        .form__select__title {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }
            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }
        .form__select__content {
            opacity: 1;
        }
        .form__select__label+.form__select__input+.form__select__label {
            max-height: 40px;
            border-top-width: 1px;
        }
    }
}*/