.form__select {
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;*/
    /*font-family: 'Onest', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #202326;
    letter-spacing: 0px;*/
    width: 238px;
    border-radius: 10px;
    border: 1px solid #EDEDF1;
    color: #777777;
}

.form__select::placeholder {
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.85px;
    letter-spacing: 0px;
    color: #202326;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .form__select {
        height: 50px;
        width: 100%;
    }
}