@import "../vendor/fonts.css";
.page {
  margin: 0 auto;
  font-family: "Onest", "sans-serif";
  background-color: #F8F8FA;
}
.page__body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 1240px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #202326;
}
.title_big {
  font-size: 52px;
}
.title_medium {
  font-size: 40px;
}
.title_small {
  font-size: 28px;
}

.blockquote {
  margin: 0;
}

.header {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 738px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}
.gallery {
  margin: 0 auto;
  max-width: 738px;
  padding-top: 50px;
}
.gallery__title {
  margin: 30px 0 0;
}
.gallery__underline {
  height: 2px;
  background-color: #ECECF3;
  margin-top: 79px;
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery__title {
    margin: 0 auto;
    font-family: "Onest", sans-serif;
    font-size: 34px;
    line-height: 38px;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-self: auto;
}
.nav__item {
  /* cursor: pointer;*/
  padding-right: 25px;
}
.nav__item:hover .nav__submenu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.nav__item:last-child {
  padding-right: 50px;
}
.nav__link {
  text-decoration: none;
  color: #202326;
  color: #202326;
  font-family: "Onest", "sans-serif";
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  line-height: 18px;
  text-align: left;
}
.nav__link:hover {
  opacity: 1;
  color: grey;
}
.nav__submenu {
  list-style: none;
  padding: 0 10px;
  position: absolute;
  display: none;
  background: #FFF;
  width: 197px;
  height: 96px;
}
.nav__submenu a {
  font-family: "Onest", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.01em;
}
.nav__toggle-menu {
  display: none;
}
.nav__burger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__arrow-icon {
  padding-left: 5px;
}

@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }
  .nav__list {
    display: none;
  }
  .nav__burger {
    display: none;
  }
}
.button {
  padding: 0;
  display: block;
  border: none;
  background: #2D1AA7;
  color: white;
  padding: 10px, 20px, 12px, 20px;
  border-radius: 100px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button_place_header {
  width: 145px;
  height: 40px;
}
.button_place_form {
  width: 133px;
  height: 50px;
}

.button {
  padding: 0;
  display: block;
  border: none;
  background: #2D1AA7;
  color: white;
  padding: 10px, 20px, 12px, 20px;
  border-radius: 100px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button_place_header {
  width: 145px;
  height: 40px;
}
.button_place_form {
  width: 133px;
  height: 50px;
}

.icon_burger {
  display: none;
}

@media screen and (max-width: 650px) {
  .icon_burger {
    display: block;
  }
}
.figure {
  margin: 36px 0 0;
  padding-top: 0;
  position: relative;
}
.figure__image {
  object-fit: cover;
  max-width: 738px;
  width: 100%;
}
.figure__calendar {
  width: 112px;
  height: 100px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.figure__calendar_date {
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #202326;
}
.figure__calendar_month {
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #202326;
}
.figure__text {
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #202326;
  padding-top: 16px;
}

.quote {
  margin: 0 auto;
  max-width: 738px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.quote__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.quote__text {
  padding: 0;
  margin: 0;
  max-width: 680px;
  font-family: "Onest", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #202326;
}
.quote__text_author {
  padding-top: 28px;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
  display: table;
}

@media screen and (max-width: 500px) {
  .quote__container {
    flex-direction: column;
  }
}
.blockquote {
  margin: 0;
}

.advert {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #F1F1F3;
  /* background-size: 1025px; */
}
.advert__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advert__image {
  /*max-width: 610px;*/
  width: 100%;
  object-fit: cover;
}
.advert__figure {
  margin: 0;
  padding: 50px 0 70px;
  /*max-width: 1024px;*/
  max-width: 100vw;
}
.advert__figaption {
  font-family: Onest;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #202326;
}
.advert__figaption a {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #2D1AA7;
}

.conclusion {
  margin: 0 auto;
  background-color: rgba(248, 248, 248, 0.9803921569);
  max-width: 738px;
  padding: 50px 0;
}
.conclusion__text {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 30px;
  letter-spacing: 0.01em;
}

.rating {
  margin: 0 auto;
  background-color: #F1F1F3;
  background-size: 1024px;
}
.rating__wrapper {
  max-width: 738px;
  margin: 0 auto;
  padding: 50px 15px;
}
.rating__subtitle {
  margin: 0;
  text-transform: uppercase;
  font-family: "Onest", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #202326;
}

.same-article {
  margin: 0 auto;
  max-width: 738px;
  width: 100%;
  padding: 50px 0;
}
.same-article__card {
  max-width: 226px;
}
.same-article__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: border-box;
}
.same-article__card {
  max-width: 226px;
}
.same-article__card-title {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  color: #202326;
}
.same-article__card-date {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #777777;
}
.same-article__card-image {
  background-color: inherit;
}
.same-article__link {
  text-decoration: none;
  cursor: pointer;
  color: #202326;
}
.same-article__link:hover {
  color: rgba(32, 35, 38, 0.8);
}

@media screen and (max-width: 500px) {
  .same-article__wrapper {
    margin: 20px auto 0;
    flex-direction: column;
    align-items: center;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(32, 35, 38, 0.7);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  z-index: 1;
}
.popup__container {
  box-sizing: border-box;
  padding: 0 15px;
  background-color: rgb(255, 255, 255);
  max-width: 380px;
  max-height: 403px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: auto;
  left: auto;
  border-radius: 12px;
}
.popup__close-button {
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.popup__title {
  margin: 20px 0 0;
  letter-spacing: -0.02em;
}
.popup__subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
}
.popup__form {
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.popup__input {
  margin: 0;
  padding: 0;
  width: 328px;
  height: 50px;
  padding: 3px, 240px, 18px, 15px;
  border-radius: 10px;
  border: 1px solid #EDEDF1;
}
.popup__input[type=text] {
  padding-left: 10px;
}
.popup__link {
  color: #2D1AA7;
  text-decoration: none;
}
.popup__save-button {
  width: 328px;
  height: 50px;
  border-radius: 100px;
  padding: 10px, 20px, 12px, 20px;
  gap: 10px;
}
.popup__text-privacy {
  margin: auto;
  width: 238px;
  font-family: "Onest", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
}
.popup_opened {
  display: flex;
}

@media screen and (max-width: 350px) {
  .popup__container {
    max-width: 100vw;
  }
}
/*

@import url('../blocks/nav/__icon/_burger/nav__icon_burger.css');


@import url('../blocks/stars-rating/_wrapper/stars-rating_wrapper_flex.css');
@import url('../blocks/stars-rating/__value/stars-rating__value.css');
@import url('../blocks/stars-rating/__items/stars-rating__items.css');
@import url('../blocks/stars-rating/__item/stars-rating__item.css');



@import url('../blocks/form/form.css');
@import url('../blocks/form/__info/form__info.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/form/__textarea/form__textarea.css');
@import url('../blocks/form/__option/form__option.css');
@import url('../blocks/form/__select/form__select.css');*/

/*# sourceMappingURL=style.css.map */
